*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




section{

    display: grid;
    grid-template-columns: repeat(4,1fr);

    text-align: end;
    

}




figure{


    display: flex;
    flex-flow: column;
    
   
    height: 100%;
    object-fit: cover;
  
}

img{

    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.test{

    margin: 2.5rem;
}

.testagain{

    background-color: #CEF9FF;
  

}

.testagain, a{
display: flex;
justify-content: space-around;
padding-block: 0.5rem;
  
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-right: 1.5rem;
    color: black;
}


.card__favoritebtn--selected{

color: red;
background-color: none;

}







